## File
.uuid
recentf
.lsp-session-v1
custom.el
.smex-items
projectile-bookmarks.eld
monaco.ttf
places
.mc-lists.el

## Directory
xfconf/
Robot Mono/
elpa/
auto-save-list/
transient/
/.emacs.d/init.elc
/.emacs.d/lisp/
/.config/plugin/
/.emacs.d/eln-cache/
/.emacs.d/history

.emacs.d/bookmarks
.emacs.d/projects
/.config/nvim.bk/

/.emacs.d/.cache/
/.emacs.d/.dap-breakpoints
/.emacs.d/session*
/.config/nvim/plugin/packer_compiled.lua


.emacs.d/url/cookies
.emacs.d/undo
.emacs.d/eshell/history
.emacs.d/network-security.data