[user]
	name = lx
	email = lqu3qf@gmail.com
[credential]
	helper = store
[core]
	editor = nvim
	quotepath = false
[url "git@git.zx-tech.net:"]
	insteadOf = https://git.algor.tech/
[url "git@github.com:"]
    insteadOf = https://github.com/
[pull]
	rebase = true
[init]
	defaultBranch = master
[push]
	autoSetupRemote = true
