[user]
	name = lx
	email = lqu3qf@gmail.com
[credential]
	helper = store
[core]
	editor = nvim
	quotepath = false
[url "https://git.zx-tech.net"]
	insteadOf = https://git.algor.tech
[url "http://git.zx-tech.net"]
	insteadOf = https://git.zx-tech.net
[url "git@github.com:"]
    insteadOf = https://github.com/
[pull]
	rebase = true
[init]
	defaultBranch = master
